.modalOverlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }
  
  .modalContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    overflow: auto;
  }
  
  .modalContent img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .imgDescription {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
    font-size: 16px;
  }
   
  .imgDescription p {
    display: flex;
    align-items: center;
    gap: 12px;
  }