.loadBtn {
    display: block;
    margin-inline: auto;
    width: 96px;
    height: auto;
    padding: 8px;
    text-align: center;
    background-color: rgb(166, 26, 194);
    color: white;
    border-radius: 5px;
    cursor: alias;
  }